<app-header (search)="doSearch($event)"></app-header>

<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">{{sitename}}</h1>
      <p [innerHTML]="subtitle"></p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <button *ngFor="let p of pages; let i=index" (click)="switchToPage(i)">{{i+1}}</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">

        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link active" href="#">Article List ({{articlesCount}})</a>
            </li>
          </ul>
        </div>

        <app-articles [list]="articles | filterArticle:keyword"></app-articles>
      </div>

      <div class="col-md-3">
        <app-tags (choose)="chooseTag($event)"></app-tags>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
